{% extends "pages/views/template_frontend.twig" %}

{% block frontend_center_content %}
    <div class="column profile">
        <div class="medium-8 medium-centered columns">
            {#<h2>Edit Profile</h2>#}
            {#<div class="medium-4 columns">#}
                {#<img src="http://lorempixel.com/200/200/people/9/" class="avatar img-circle img-thumbnail" alt="avatar">#}
                {#<h6>Upload a different photo...</h6>#}
                {#<input type="file" class="text-center center-block well well-sm">#}
            {#</div>#}
            <div class="medium-8 medium-centered small-12 columns form-profile">
                <h3>Edit your profile</h3>
                <form data-abide novalidate action="" method="post">
                    <input type="text" value="Full Name" id="name">
                    <input type="email" value="example@gmail.com" id="email">
                    <input type="number" value="081245678945" id="phone">
                    <textarea id="address">Your address</textarea>
                    <div class="medium-12 columns save-btn">
                        <input class="button" value="Save Changes" type="button">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}