{% extends "pages/views/template_frontend.twig" %}


{% block frontend_center_content %}
    <form data-abide novalidate action="" method="post">
        <div class="row">
            <div class="small-12 medium-8 medium-offset-2 end column identity-form no-padding">
                <div class="small-12 column title-form">
                    Login
                </div>
                <hr>
                <div class="small-12 column success-msg">
                    {{ success_regis }}
                </div>
                <div class="small-12 medium-4 column text-label">
                    <label for="email" class="middle-label">Email :</label>
                </div>
                <div class="small-12 medium-8 column no-left-padding">
                    <input type="email" name="email" id="email" pattern="email" placeholder="Your email" required>
                    <span class="form-error">
                        *Input Your Email
                    </span>
                </div>
                <div class="small-12 medium-4 column text-label">
                    <label for="pass" class="middle-label">Password :</label>
                </div>
                <div class="small-12 medium-8 column no-left-padding">
                    <input type="password" name="password" id="pass" placeholder="Password" required>
                    <span class="form-error">
                        *Required
                    </span>
                </div>
                <div class="small-12 column error-msg">
                    {{ login_message }}                
                </div>
                <div class="small-12 column text-center">
                    <a href="register"><button type="button" class="button small">Register</button></a>
                    <input type="submit" class="button small" name="login" value="Login">
                    <a href="{{ fb_login }}"><button type="button" class="button small">Login with FB</button></a>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
    </form>
{% endblock %}