{% extends "pages/views/template_frontend.twig" %}

{% block frontend_content %}
	Promo
	<hr>
	<div class="small-12 medium-6 large-4 columns description end" style="margin-bottom:5px">
		<div class="pos-rel" data-equalizer="promo">
			<div class="small-12 columns no-padding" data-equalizer-watch="promo">
				<img src="{{ base_url() }}assets/css/images/pic3.jpg">
			</div>
			<div class="small-12 columns small-promo-desc show-for-small-only" style="background-color:black">
				<span style="font-size:8px">Lorem Ipsum Title</span>
				<hr>
				<div class="small-12 columns">
					Slot : <br>
					loremipsum
				</div>
				<div class="small-12 columns">
					<div class="small-6 columns text-right">
						<button type="button" class="button">View</button>
					</div>
					<div class="small-6 columns">
						<button type="button" class="button">Join</button>
					</div>
				</div>
			</div>
			<div class="small-12 columns black-hover pos-abs hide-for-small-only" data-equalizer-watch="promo"></div>
			<div class="small-12 columns pos-abs promo-desc hide-for-small-only">
				<h3>Lorem Ipsum Title</h3>
				<hr>
				<div class="small-12 columns">
					Slot : <br>
					loremipsum
				</div>
				<div class="small-12 columns">
					<div class="small-6 columns text-right">
						<button type="button" class="button">View</button>
					</div>
					<div class="small-6 columns">
						<button type="button" class="button">Join</button>
					</div>
				</div>
			</div>
		</div>
		<div style="clear:both"></div>
	</div>
{% endblock %}

{% block frontend_js %}
	<script>
	$(document).ready(function(){
		$(".description").hover(function(){
			$(this).find(".black-hover").css({"z-index":"1","opacity":"0.7"});
			$(this).find(".promo-desc").css("z-index","2");
		},function(){
			$(this).find(".black-hover").css({"z-index":"-1","opacity":"0"});
			$(this).find(".promo-desc").css("z-index","-2");
		});
	});
	</script>
{% endblock %}