{% extends "pages/views/template_frontend.twig" %}

{% block frontend_center_content %}
    <div class="small-12 columns">
        <h5>Please complete your information to reedem the reward!</h5>
        <form action="" method="post">
            <div class="row">
                <div class="small-12 medium-6 end column identity-form no-padding">
                    <div class="small-12 column title-form">
                        Form Confirmation
                    </div>
                    <hr>
                    <div class="small-12 medium-3 column">
                        <label for="fName" class="middle-label">Name :</label>
                    </div>
                    <div class="small-12 medium-8 column">
                        <input type="text" name="fName" id="fName" placeholder="John">
                    </div>
                    <div class="small-12 medium-3 column">
                        <label for="email" class="middle-label">Email :</label>
                    </div>
                    <div class="small-12 medium-8 column">
                        <input type="text" name="email" id="email" placeholder="Email">
                    </div>
                    <div class="small-12 medium-3 column">
                        <label for="address" class="middle-label">Address </label>
                    </div>
                    <div class="small-12 medium-8 column">
                        <input type="text" name="address" id="address" placeholder="Your address">
                    </div>
                    <div class="small-12 medium-3 column">
                        <label for="phone" class="middle-label">Phone :</label>
                    </div>
                    <div class="small-12 medium-8 column">
                        <input type="number" id="phone" placeholder="081-xxx-xxx-xxx">
                    </div>
                    <div class="small-12 column submit-button" style="text-align: center;">
                        <input type="submit" class="button" value="Submit" style="border-radius: 50px;">
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}